<main class="flex items-center justify-center h-auto w-full">
  <mat-card class="w-[70%] h-auto rounded-2xl">
    <mat-card-header class="bg-green-600 text-white rounded-2xl">
      <mat-card-title class="mb-4 text-xl">Whatssap</mat-card-title>
      <mat-card-subtitle class="bg-green-700/40 text-slate-800 w-full flex items-center justify-center">chats</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="flex flex-col items-center justify-center">
      <!-- json -->
      <div *ngFor="let contact of contacts" inset="true" class="w-full flex h-auto justify-between border-b-2 border-gray-600/10 p-3">
        <div class="flex gap-4">
          <mat-icon [ngClass]="{'bg-pink-400':contact.genero == 'F', 'bg-sky-400': contact.genero == 'M'}" class="rounded-full p-2 h-auto w-auto">person</mat-icon>
          <span *ngIf="contact.registrado" [ngClass]="{'text-pink-500': contact.genero == 'F', 'text-blue-500': contact.genero=='M'}">{{contact.nombre}}</span>
          <span *ngIf="!contact.registrado" [ngClass]="{'text-pink-500': contact.genero == 'F', 'text-blue-500': contact.genero=='M'}">{{"Desconocido"}}</span> 
        </div>
        <button mat-stroked-button color="primary" *ngIf="contact.registrado" >Agregar</button>
        <button mat-stroked-button color="warn" *ngIf="!contact.registrado" >Eliminar</button>
      </div>
    </mat-card-content>
  </mat-card>
</main>
<router-outlet></router-outlet>